@import "normalize";

html {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #333;
  font-size: 1.125rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body:after {
  content: '';
  width: 0;
  height: 100vh;
  position: fixed;
  border: 1px dashed #eadfe9;
  top: 0;
  left: 845px;
  z-index: -1;
}

header {
  display: flex;
  background-color: white;
  border-top: 1px solid #333;

  h1.logo {
    margin: 0.5rem 0 1rem 1rem;
    a {
      color: #000;
      font-family: 'Inconsolata', monospace;
      font-weight: 700;
      text-decoration: none;
      .s { letter-spacing: -.2rem; }
    }
  }
}

.paginator_links {
  max-width: 800px;
  background-color: white;
  padding: 1rem;
  display: flex;
  a.next { margin-left: auto; }
}

ul.toc {
  margin: 0;
  padding: 1rem 0 1rem 1rem;
  background-color: white;
  border-top: 1px dashed #999;

  li {
    list-style-type: none;
    &:not(last-child) { margin-bottom: 0.25rem; }
    a { text-decoration: none; }
    span.title { text-decoration: underline; }
    span.date { color: #777; }

    &.current {
      span.title {
        text-decoration: none;
        &:before {
          white-space: pre;
          content: "→ ";
        }
      }
      a { color: #777; }
      pointer-events: none;
    }
  }
}

.post {
  border-top: 1px dashed #999;
  padding: 1rem 2rem 0 1rem;

  &__meta {
    margin-left: 0.5rem;
  }

  &__readmore {
    text-align: right;
    margin-bottom: 1rem;
    max-width: 800px;
  }

  &__body {
    max-width: 800px;

    pre { overflow-x: auto; }

    pre:not(.poem) {
      font-family: 'Inconsolata', monospace;
      background-color: #f5f5f5 !important;
      border-radius: 3px;
      padding: 1rem;
      font-size: 1rem;
      line-height: 1.5rem;
    }

    hr {
      border-color: #eadfe9;
      border-style: dashed;
    }

    p { line-height: 1.4rem; }

    p, h2, h3, h4 {
      padding-left: 1rem;
    }

    h2, h3, h4 {
      margin-bottom: 0;
    }

    ul, ol {
      li:not(last-child) { margin-bottom: 0.25rem; }
      padding-left: 1rem;
    }

    blockquote {
      border-left: 1px solid #777;
      em {
        font-style: normal;
        background-color: #eadfe9;
      }
    }

    code {
      padding: 0 0.2rem;
    }

    .poem-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem 0;
      padding: 0.2rem 0;
      > div {
        background-color: #f5f5f5;
        padding-right: 1rem;
      }
    }

    pre.poem {
      font-family: inherit;
      margin-left: 1rem;
      white-space: pre-wrap;
      font-size: 1rem;
      line-height: 1.5rem;
    }

    .poem-author {
      font-style: italic;
    }
  }
}

footer {
  flex-grow: 1;
  background-color: white;
  padding: 1rem;
  color: #aaa;
  display: block;
  text-align: right;
  p { margin: 0; }
}
