@import "normalize";

@media (prefers-color-scheme: light) {
  :root {
    --color-darkest: #333;
    --color-dark: #777;
    --color-medium: #999;
    --color-light: #f5f5f5;
    --color-code-bg: #090909;
    --color-accent: #eadfe9;
    --color-bg: white;
    --color-link: #0000ee;
  }

  pre[data-lang] {
    filter: invert(100);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-darkest: #d1d5dc;
    --color-dark: #777;
    --color-medium: #393f40;
    --color-light: #2a2c31;
    --color-code-bg: #2a2c31;
    --color-accent: #584868;
    --color-bg: #1d2021;
    --color-link: #378bf0;
  }
}

html {
  background-color: var(--color-bg);
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--color-darkest);
  font-size: 1.125rem;
  overflow-wrap: break-word;
}

a {
  color: var(--color-link);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2px solid var(--color-darkest);
}

#container {
  display: inline;
  border: 1px dashed var(--color-accent);
  border-width: 0 1px;
  max-width: 100%;
}

header {
  display: flex;
  align-items: baseline;
  margin: 0.25rem;

  a {
    display: flex;
    align-items: center;
    color: var(--color-darkest);
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    text-decoration: none;
    .s { letter-spacing: -.2rem; }

    div { display: flex; }
  }

  h1.logo {
    margin: 0.5rem 0 1rem 1rem;
  }
}

.paginator_links {
  max-width: 800px;
  background-color: var(--color-bg);
  padding: 1rem;
  display: flex;
  a.next { margin-left: auto; }
}

ul.toc {
  margin: 0;
  padding: 1rem 0 1rem 1rem;
  background-color: var(--color-bg);
  border-top: 1px dashed var(--color-medium);

  li {
    list-style-type: none;
    &:not(last-child) { margin-bottom: 0.25rem; }
    a { text-decoration: none; }
    span.title { text-decoration: underline; }
    span.date { color: var(--color-dark); }

    &.current {
      span.title {
        text-decoration: none;
        &:before {
          white-space: pre;
          content: "→ ";
        }
      }
      a { color: var(--color-dark); }
      pointer-events: none;
    }
  }
}

div.post-divider {
  position: absolute;
  left: 0;
  right: 0;
  border-top: 1px dashed var(--color-medium);
}

.post {
  padding: 1rem 2rem 0 0.75rem;

  &__meta {
    font-weight: bold;
    margin-left: 1.25rem;
  }

  &__readmore {
    text-align: right;
    margin-bottom: 1rem;
    max-width: 800px;
  }

  &__body {
    max-width: 800px;

    pre { overflow-x: auto; }

    pre:not(.poem) {
      font-family: 'Inconsolata', monospace;
      background-color: var(--color-code-bg) !important;
      border-radius: 3px;
      padding: 1rem;
      font-size: 1rem;
      line-height: 1.5rem;
    }

    hr {
      border-color: var(--color-accent);
      border-style: dashed;
    }

    p, ol > li, ul > li { line-height: 1.5rem; }

    p, h1, h2, h3, h4 {
      padding-left: 1.25rem;
    }

    h1, h2, h3, h4 {
      margin-bottom: 0;
    }

    h1 { font-size: 1.5rem; }
    h2 { font-size: 1.25rem; }
    h3 { font-size: 1rem; }

    ul, ol {
      li:not(last-child) { margin-bottom: 0.25rem; }
      padding-left: 1.25rem;
    }

    blockquote {
      border-left: 1px solid var(--color-dark);
      em {
        font-style: normal;
        background-color: var(--color-accent);
      }
    }

    code {
      padding: 0 0.2rem;
    }

    .poem-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem 0;
      padding: 0.2rem 0;
      > div {
        background-color: var(--color-light);
        padding-right: 1rem;
      }
    }

    pre.poem {
      font-family: inherit;
      margin-left: 1rem;
      white-space: pre-wrap;
      font-size: 1rem;
      line-height: 1.5rem;
    }

    .poem-author {
      font-style: italic;
    }
  }
}

footer {
  flex-grow: 1;
  background-color: var(--color-bg);
  padding: 1rem;
  color: var(--color-medium);
  display: block;
  text-align: right;
  p { margin: 0; }
}
