{% import "post.html" as post %}
{% import "toc.html" as toc %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ get_url(path="index.css", trailing_slash=false) }}">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700|Inconsolata:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    {% include "poem.js.html" %}
  </head>

  <body>
    <header>
      <h1 class="logo">
        <a href="/">yaymukund<span class="s">&rsquo;s</span> weblog ^_^</a>
      </h1>
    </header>

    {% block content %}
      {% set posts = get_section(path="posts/_index.md") %}
      {% for page in posts.pages | slice(end=10) %}
        {{ post::summary(page=page) }}
      {% endfor %}
    {% endblock content %}

    {% block pagination %}
      <div class="paginator_links">
        <a href="{{ get_url(path="posts/page/2", trailing_slash=false) }}" class="next">Next Page &rarr;</a>
      </div>
    {% endblock %}

    {% block toc %}
      {{ toc::table_of_contents() }}
    {% endblock toc %}

    <footer>
      <p>powered by <a href="https://github.com/getzola/zola">zola</a></p>
    </footer>
  </body>
</html>
