{% import "post.html" as post %}
{% import "toc.html" as toc %}
{% import "paginator_links.html" as paginator_links %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ get_url(path="index.css", trailing_slash=false) }}">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700|Inconsolata:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
  </head>

  <header>
    <h1 class="logo">
      <a href="/">yaymukund<span class="s">&rsquo;s</span> blog ^_^</a>
    </h1>
  </header>

  <body>
    {% block content %}
      {% for page in paginator.pages %}
        {{ post::post(page=page) }}
      {% endfor %}

      {{ paginator_links::paginator_links(paginator=paginator) }}
      {{ toc::table_of_contents(class="main") }}
    {% endblock content %}
  </body>

  <footer>
    <p>mukund lakshman 2018</p>
    <p>powered by <a href="https://github.com/Keats/gutenberg">gutenberg</a></p>
  </footer>
</html>
