{% import "post.html" as post %}
{% import "toc.html" as toc %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <!-- meta stuff -->
    {% for tag in config.extra.meta_tags %}
      <meta
        {% for key,val in tag %}
          {{key}}="{{ val }}"
        {% endfor %}
      >
    {% endfor %}
    <meta property="og:url" content="{{ config.base_url | safe }}{{ current_path | safe }}" />

    {% block meta_content %}
    <title>{{ config.title }}</title>
    {% endblock meta_content %}

    <link rel="stylesheet" href="{{ get_url(path="index.css", trailing_slash=false) }}">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700|Inconsolata:400,700&amp;subset=latin-ext" rel="stylesheet">

    {% block rss %}
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
    {% endblock %}

    {% include "poem.js.html" %}
  </head>

  <body>
    <div id="container">
      <header>
        <a href="/" title="Home">
          <div>
            <img src="/logo.png">
          </div>
          <h1 class="logo">
            yaymukund<span class="s">&rsquo;s</span> weblog
          </h1>
        </a>
      </header>

      {% block content %}
        {% set posts = get_section(path="posts/_index.md") %}
        {% for page in posts.pages | slice(end=10) %}
          {{ post::summary(page=page) }}
        {% endfor %}
      {% endblock content %}

      {% block pagination %}
        <div class="paginator_links">
          <a href="{{ get_url(path="posts/page/2", trailing_slash=false) }}" class="next">Next Page &rarr;</a>
        </div>
      {% endblock %}

      {% block toc %}
        {{ toc::table_of_contents() }}
      {% endblock toc %}
    </div>

    <footer>
      <p>powered by <a href="https://github.com/getzola/zola">zola</a></p>
    </footer>
  </body>
</html>
