{% macro post(page) %}
  {{ post::render(body = page.content, page = page, readmore = false) }}
{% endmacro post %}

{% macro summary(page) %}
  {% if page.summary %}
    {{ post::render(body = page.summary, page = page, readmore = true) }}
  {% else %}
    {{ post::render(body = page.content, page = page, readmore = false) }}
  {% endif %}
{% endmacro post %}

{% macro render(body, page, readmore) %}
  <div class="post">
    <div class="post__title">
      <div class="post__meta">
        <a href="{{ page.permalink }}">{{ page.date | date(format="%B %e, %Y") }}</a>
      </div>
    </div>

    <div class="post__body">
      {{ body | safe | replace(from="--", to="&mdash;") }}
    </div>

    {% if readmore %}
      <div class="post__readmore">
        <a href="{{ page.permalink }}">Continue reading&hellip;</a>
      </div>
    {% endif %}
  </div>
{% endmacro %}
